<!-- Footer -->
<footer class="page-footer font-small  pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase"><b>My BOOKS</b></h5>
            <p>This is a project made by the 2018 oct batch</p>
           
              <a href="https://www.facebook.com/" class="nav-link waves-effect" target="_blank">
                <i class="fa fa-facebook"></i>
              </a> 
              <a href="https://twitter.com/" class="nav-link waves-effect" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- <button href="#" type="button" class="btn btn-outline-primary waves-effect">CONTACT US</button> -->
            <!-- <button type="button" class="btn btn-blue-grey">Blue-grey</button>    -->
            <a routerLink="companyInfo/contactUs"><b> CONTACT US</b></a>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
              <a routerLink="companyInfo/aboutUs"><b> ABOUT US</b></a>
                <!-- <a href="#" class="btn purple-gradient">ABOUT US</a> -->


            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a target ="_blank" href="https://www.mindtree.com/news/mindtree-launches-global-learning-software-delivery-center-bhubaneswar"> Mindtree</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
